<%content_for :class do%>
bgInterna
<%end%>

<%content_for :breadcrumb do%>
	<div id="BreadCrumb">
    	<a href="/">almeria</a> • contato
    </div>
<%end%>

<div id="BoxLeft">
	<h1>MENSAGEM ENVIADA!</h1>
    <p>
    	Obrigado!<br>
		<br>
		
		Em breve entraremos em contato!
    </p>
</div>
<div id="BoxRight">
	<%=render :file => "/layouts/_noticias.html.erb"%>
</div>