<%content_for :class do%>
bgInterna
<%end%>

<%content_for :breadcrumb do%>
	<div id="BreadCrumb">
    	<a href="/">almeria</a> • o centro
    </div>
<%end%>

<div id="BoxLeft">
	<h1>NOTÍCIAS</h1>
    <p>
	<%if !@Noticias.blank?%>
		<%@Noticias.each do |n|%>
			<div id="Noticia">
                <%=link_to n.created_at.to_date.strftime("%d/%m/%Y"), noticia_path(n), :class => "Titulo" %> | <%=link_to n.title, noticia_path(n), :class => "Titulo" %><br>
				<%=link_to n.summary, noticia_path(n), :class => "Texto"%>
            </div>
		<%end%>
	<%end%>

    </p>
</div>
<div id="BoxRight">
	
</div>