a, p, td, input, textarea, span, div
{
	font-family: Verdana;
	font-size:12px;
}

*
{
	margin:0px;
	padding:0px;	
}

img
{
	border:none;	
}

p
{
	text-align:justify;
}

a
{
	text-decoration:none;	
}

a:hover
{
	text-decoration:underline;	
}

body
{
	background-image:url('/images/bg_body.jpg');
	background-repeat:no-repeat;
	background-position:center top;
	text-align:center;
}

#Geral
{
	width:970px;
	margin:auto;
	text-align:left;
}

	#Geral #Header
	{
		width:100%;
		height:150px;
		padding-top:27px;
	}
	
	
	#Geral #Header #Menu
	{
		margin-top:-10px;
		width:963px;
		height:38px;
		background-image:url('/images/bg_menu.png');
		background-repeat:no-repeat;
	}
	
	#Geral #Header #Menu #Busca
	{
		width:240px;
		float:left;
	}
	
		#Geral #Header #Menu #Busca input
		{
			width:220px;
			height:27px;
			border:none;
			background-color:transparent;
			background-image:url('/images/bg_busca.png');
			padding-left:10px;
			margin:5px 0px 0px 5px;
		}
		
	#Geral #Header #Menu #MenuItens
	{
		width:700px;
		float:right;
	}
	
		#Geral #Header #Menu #MenuItens ul li
		{
			height:27px;
			padding-left:14px;
			padding-right:14px;
			padding-top:10px;
			display:inline-block;
			background-image:url(/images/menu/separador.png);
			background-repeat:no-repeat;
			background-position:right center;
		}
		
	#Geral #Destaque
	{
		margin-top:28px;	
	}
	
	
	#Geral #Content #Box
	{
		width:480px;
		display:inline-block;	
		vertical-align:top;
		margin-top:35px;
	}
		
		#Geral #Content #Box img
		{
			margin-bottom:13px;

		}
		
		#Geral #Content #Box a
		{
			font-family:Verdana !important;
			font-size: 11px !important;
			color:#666666 !important;

		}
	
		#Geral #Content #Box p
		{
			width:395px;
			font-family:Verdana !important;
			font-size: 11px !important;
			color:#666666 !important;

		}
		
		#Geral #Content #Box #Noticia
		{
			margin-bottom:25px;
		}
		
		#Geral #Content #Box #Noticia .Titulo
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #0072C5 !important;
			font-weight:bold;
		}
		
		#Geral #Content #Box #Noticia .Texto
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #666666 !important;
		}
	
	#Footer
	{
		text-align:left;
		background-image:url(/images/bg_footer.jpg);
		width:1024px;
		height:120px;
		margin:40px auto;	
	}
	
	#Footer #Dados
	{
		width:350px;
		float:left;
	}
	
		#Footer #Dados p
		{
			font-family: Tahoma !important;
			font-size:12px !important;
			color:#666666 !important;
			margin:18px 0px 0px 18px;
		}
		
	#Footer #Menu
	{
		float:right;
		text-align:right;
		margin:14px 25px 0px 0px;
	}
	
		#Footer #Menu a
		{
			font-family: Verdana!important;
			font-size: 11px !important;
			color: #666666 !important;

		}
		
/*---------------------INTERNAS*/
	#Geral #BreadCrumb
	{
		margin-top:7px;
		height:67px;
		font-family: Verdana !important;
		font-size: 11px !important;
		color: #999999 !important;
	}
	
		#Geral #BreadCrumb a
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #999999 !important;

		}
		
		
	#Geral #Content #BoxLeft
	{
		width:625px;
		float:left;
	}
	
		#Geral #Content #BoxLeft h1
		{
			font-family: Arial !important;
			font-size:36px !important;
			color:#99CC33 !important;
			font-weight:100;
			margin-bottom:55px;
		}
		
		#Geral #Content #BoxLeft h2
		{
			font-family: Arial !important;
			font-size:20px !important;
			color:#99CC33 !important;
			font-weight:100;
			margin-bottom:15px;
		}
		
		#Geral #Content #BoxLeft p
		{
			font-family: Verdana !important;
			font-size:14px !important;
			color:#666666 !important;
		}
	
	#Geral #Content #BoxRight
	{
		width:327px;
		float:right;
	}
	
	#Geral #Content #BoxRight h2
	{
		font-family: Arial !important;
		font-size:30px !important;
		color:#2376A2 !important;
		font-weight:100;
		margin-bottom:21px;
	}
	
	#Geral #Content #BoxRight #Noticia
	{
		margin-bottom:25px;
	}
	
		#Geral #Content #BoxRight #Noticia .Titulo
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #0072C5 !important;
			font-weight:bold;
		}
		
		#Geral #Content #BoxRight #Noticia .Texto
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #666666 !important;
		}
		
	#Geral #Content #BoxLeft #Noticia
	{
		margin-bottom:25px;
	}
	
		#Geral #Content #BoxLeft #Noticia .Titulo
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #0072C5 !important;
			font-weight:bold;
		}
		
		#Geral #Content #BoxLeft #Noticia .Texto
		{
			font-family: Verdana !important;
			font-size: 11px !important;
			color: #666666 !important;
		}
		
		
/*--------------------CLASSES */
.bgInterna
{
	background-image:url(/images/bg_body_int.jpg) !important;	
}

.clear
{
	clear:both;	
}

.tbTitulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px; 
	text-align:left; 
	color:#99CC33 !important; 
}
.tbItems
{
	text-align:left; 
	font-family: Verdana !important;
	font-size:10px !important;
	color:#666666 !important;
}
.Alinha{ display:inline;}