*{margin:0; padding:0;list-style: none;}
body{
	
background-image:url(../images/backinternas.jpg);
background-repeat:repeat-x;	
margin:0 ; 
padding:0;
text-align: center;

}
#Background{
	text-align:center;
	width:1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
}

#Menu{
	margin-top:-234px;
	float:left;
	}
			.Menuback{
				text-align:center;
				height:30px;
				margin-left: auto;
				}
					.MenuItem
					{	
						list-style:none;
					margin-right:25px;
					margin-top:29px;				
					float:left;
					line-height: 2em;
					text-align: center;
					width:auto;
					}
					 #Menu a:hover{
						display:inline-block;
						height:40px;
						width:90px
						list-style-type:square;
						background-position: 0px -20px;
						background-image:url(images/menu/btn_hover.png);
						background-repeat:no-repeat;
					
					}
					
							.Menualinha {
							display:inline-block;
							list-style:none;
							top:80px;
							margin-left:320px;
							width:750px;
							height:30px;									
							position:absolute;					
								}
									.t_busca{
										float:left;
										position:relative;/* absolute  para busca desalinha se for  alterado-->*/
										top:190px;
										left:80px;
										width:200px;
										height:18px;
										border:0;
									}
#Header{
	margin-top:260px;
	text-align:center;
	margin-bottom:-75x;
	height:25px;
	}
#Content{
	height:648px;
	background:0;
	}
.Contcenter{
	margin-right:30px;
	margin-left:30px;
	margin-top:50px;
	
}
div.inline images{
	margin-bottom:20px;
	marging-right:10px;
}
.Footcontent{
	margin:0 auto;
	padding:5px 0 0 0;
	width:980px;
	height:115px;
}
#Footer{
	clear:both;
	margin-bottom:100px;
	height:115px;
	marging:0;
	margin-top:200px;
	
	background-image:url(../images/back_footer.jpg);
	background-repeat:inherit;
		
}
		.Menufoot{
			margin-top:-55px;
			margin-left:415px;
			text-align:center;
			width:615px;
			display:inherit;
			padding:0 3px 0 0;
			color:#666;
			font-family:Verdana, Geneva, sans-serif;
			font-size:11px;
		}
			.fontfoot{
				margin-top:10px;
				font-family:Verdana, Geneva, sans-serif;
				color:#333;
				font-size:11px;
				width:350px;
			}
			p {font-family:Verdana, Geneva, sans-serif;
				color:#333;
				font-size:11px;}
.Center{
	margin-left:0 auto;
    margin-right:0 auto;
	text-align:center;
	width:auto;
	margin:opx auto;
}
div.inline {
	text-align:left;
	float:left;
	margin-left:10px;
	margin-top:60px;
	width:460px;
	height:260px;
}
.clearBoth { clear:both; }

.showgrid {
  background: url(src/grid.png);
}
.last { margin-right: 0; }
