<%content_for :destaque do%>
	<div id="Destaque"><img src="images/destaques/destaque1.png" /></div>
<%end%>

<div id="Box">
        	<h1><img src="images/tit_quemsomos.png" /></h1>
            <img src="images/dest_quemsomos.jpg" />
            <p>
            	<a href="" target="">
            		<!-- TEXTO QUEM SOMOS AQUI -->
					O Almeria é um centro de reabilitação para dependentes químicos localizado no interior de São Paulo. Nossa equipe é altamente capacitada para oferecer aos pacientes e seus familiares todo o apoio necessário para um tratamento de sucesso. Visite-nos e conheça nossas instalações.
				</a>
            </p>
        </div>
        
        <div id="Box">
        	<h1><img src="images/tit_tratamento.png" /></h1>
            <img src="images/dest_tratamentos.jpg" />
            <p>
            	<a href="" target="">
            		<!-- TEXTO TRATAMENTOS -->
					Oferecemos a nossos pacientes uma assistência completa, estendida também à família. Para nós, um tratamento só pode ser bem sucedido se a família fizer parte dessa empreitada. Conheça nossos profissionais e saiba mais sobre as etapas de nossos tratamentos.
				</a>
            </p>
        </div>
        
         <div id="Box">
        	<h1><img src="images/tit_depoimentos.png" /></h1>
            <p>
            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
            </p>
            <br />
            <p style="text-align:center !important;"><i>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam."</i></p>
        	<br />
            <p style="text-align:right;"><b>Lorem ipsum</b></p>
            <br />
            <p style="text-align:right;"><%=link_to image_tag("bt_vejamais.gif"), depoimentos_path%></p>
        </div>
        
        <div id="Box">
        	<h1><img src="images/tit_noticias.png" /></h1>
            
			<%if !@Noticias.blank?%>
				<%@Noticias.each do |n|%>
					<div id="Noticia">
			            <%=link_to n.created_at.to_date.strftime("%d/%m/%Y"), noticias_path(n), :class => "Titulo" %> | <%=link_to n.title, noticias_path(n), :class => "Titulo" %><br>
						<%=link_to n.summary, noticia_path(n), :class => "Texto"%>
			        </div>
				<%end%>
			<%end%>
        </div>