<%content_for :destaque do %>
	<img src="/images/destaque.jpg" width="962" height="300" /></div>
<%end%>

<div class="inline">
		<img src="/images/tit_qmsomos.png" width="193" height="28" />
	<a  href="quemsomos.html"><img src="/images/back_quad1.png" width="366" height="135" border="0" />
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p></a>
</div>
	<div class="inline">
		<img src="/images/tit_trata.png" width="204" height="23" />
	<img src="/images/back_quad2.png" width="460" height="142" />
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
</div>
<div class="inline">
	<img src="/images/tit_depo.png" width="198" height="23" />
	<p style="text-align:center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
	<br><br>
	<i>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam."</i><br><br><img src="/images/btn_vjamais.png" width="82" height="27" /></p>  
</div>
<div class="inline">
	<img src="/images/tit_notic.png" width="128" height="29" />
	<li>15/04/2010 | Palestra Fasterm</li><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
	<li>15/04/2010 | Palestra Fasterm</li><p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam."</p>
	<li>15/04/2010 | Palestra Fasterm</li><p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam."</p>
</div>