<%content_for :head do%>
	<%=stylesheet_link_tag "institucional"%>
	<%=stylesheet_link_tag "internas"%>
<%end%>
<div class="Tit_interna" > <img src="img/int_qmsms.png" width="1024" height="68" /></div>
<div id="Box_noticias" align="center">
<img src="img/tit_noticiasbox.png" width="265" height="36" />
        <ul>
        <li class="Boxfont">0000-noticia1 <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p></li>
        <li class="Boxfont">0000-noticia2 <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p></li>
        <li class="Boxfont">0000-noticia3 <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p></li>
        <li class="Boxfont">0000-noticia4 <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p></li>
        <li class="Boxfont">0000-noticia5 <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p></li>
        </ul>
 </div>

<div class="Box_texto">
    <div  align="center"><img src="img/logo_almeria.png" width="243" height="61" /></div>
    <p>Lorem ipsum dolor sit , consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. </p>
</div>