<%content_for :class do%>
bgInterna
<%end%>

<%content_for :breadcrumb do%>
	<div id="BreadCrumb">
    	<a href="/">almeria</a> • tratamentos
    </div>
<%end%>

<div id="BoxLeft">
	<h1>PLANTÃO 24 HORAS</h1>
    <p>
    	Entre em contato pelos telefones:<br>
    	(11) 7106 - 6205<br />
		(11) 7843 - 4301<br />
		ID Nextel:  80*186139<br />
    </p>
</div>
<div id="BoxRight">
	<%=render :file => "/layouts/_noticias.html.erb"%>
</div>