<%content_for :class do%>
bgInterna
<%end%>

<%content_for :breadcrumb do%>
	<div id="BreadCrumb">
    	<a href="/">almeria</a> • tratamentos
    </div>
<%end%>

<div id="BoxLeft">
	<h1>TRATAMENTOS</h1>
    <p>
Um dos grandes diferenciais do Almeria é oferecer um tratamento completo, de qualidade e acessível a todos. Para garantir o atendimento correto aos pacientes, além do já conhecido tratamento de 12 passos, o centro oferece um tratamento enriquecido, com:<br>
<br>
•	Terapia ocupacional;<br>
•	Musicoterapia;<br>
•	Ginástica laboral;<br>
•	Acupuntura;<br>
•	Psicodrama;<br>
•	Reuniões mensais com os familiares sem custos adicionais;<br>
•	Tratamento especial para recaídos.<br>
•	Remoção 24hs.<br>
<br></p>

<h2>Ginástica Laboral</h2>
<p>
A ginástica laboral, popularmente conhecida nas empresas como uma forma de melhorar a qualidade de vida e rendimento dos funcionários, tem se mostrado cada vez mais uma alternativa ideal para contribuir com a saúde e bem estar das pessoas, mesmo fora do ambiente de trabalho.<br>
<br>
A equipe de profissionais do Almeria também sabe a importância da ginástica laboral na rotina uma pessoa, por essa razão, ela faz parte das atividades desempenhadas por nossos pacientes. Entre os inúmeros benefícios da ginástica, podemos destacar:<br>
<br>
• A diminuição de tensões generalizadas;<br>
• A reflexão na capacidade de produção;<br>
• A diminuição da fadiga muscular e emocional;<br>
• Prevenção do estresse;<br>
• Benefícios psicológicos;<br>
• O reforço da auto-estima;<br>
• O aumento na capacidade de concentração;<br>
• Melhorias no convívio social;<br>
• Facilidade no relacionamento interpessoal;<br>
• Melhorias na comunicação interna.<br>
<br>
    </p>
</div>
<div id="BoxRight">
	<%=render :file => "/layouts/_noticias.html.erb"%>
</div>