<%content_for :class do%>
bgInterna
<%end%>

<%content_for :breadcrumb do%>
	<div id="BreadCrumb">
    	<a href="/">almeria</a> • tratamentos
    </div>
<%end%>

<div id="BoxLeft">
	<h1>TRATAMENTOS</h1>
    <p>
Um dos grandes diferenciais do Almeria é oferecer um tratamento completo, de qualidade e acessível a todos. Para garantir o atendimento correto aos pacientes, além do já conhecido tratamento de 12 passos, o centro oferece um tratamento enriquecido, com:<br>
<br>
•	Terapia ocupacional;<br>
•	Musicoterapia;<br>
•	Ginástica laboral;<br>
•	Acupuntura;<br>
•	Psicodrama;<br>
•	Reuniões mensais com os familiares sem custos adicionais;<br>
•	Tratamento especial para recaídos.<br>
•	Remoção 24hs.<br>
<br></p>

<h2>Ginástica Laboral</h2>
<p>
A ginástica laboral, popularmente conhecida nas empresas como uma forma de melhorar a qualidade de vida e rendimento dos funcionários, tem se mostrado cada vez mais uma alternativa ideal para contribuir com a saúde e bem estar das pessoas, mesmo fora do ambiente de trabalho.<br>
<br>
A equipe de profissionais do Almeria também sabe a importância da ginástica laboral na rotina uma pessoa, por essa razão, ela faz parte das atividades desempenhadas por nossos pacientes. Entre os inúmeros benefícios da ginástica, podemos destacar:<br>
<br>
• A diminuição de tensões generalizadas;<br>
• A reflexão na capacidade de produção;<br>
• A diminuição da fadiga muscular e emocional;<br>
• Prevenção do estresse;<br>
• Benefícios psicológicos;<br>
• O reforço da auto-estima;<br>
• O aumento na capacidade de concentração;<br>
• Melhorias no convívio social;<br>
• Facilidade no relacionamento interpessoal;<br>
• Melhorias na comunicação interna.<br>
<br>
</p>

<h2>Cronograma</h2>
<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Segunda-Feira</td>
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems"> DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">10:00</td>
    <td class="tbItems">REUNIÃO (PASSOS)</td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">REUNIÃO (TRE)</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LANCHE DA TARDE</td>
  </tr>
  <tr>
    <td class="tbItems">16:30</td>
    <td class="tbItems">GINÁSTICA LABORAL</td>
  </tr>
  <tr>
    <td class="tbItems">18:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">REUNIÃO (SENTIMENTO)</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>

<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Terça-Feira</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems">DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">10:00</td>
    <td class="tbItems">REUNIÃO (PPR)</td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">REUNIÃO (REFLEXÕES)</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LANCHE DA TARDE</td>
  </tr>
  <tr>
    <td class="tbItems">16:30</td>
    <td class="tbItems">ED.FÍSICA</td>
  </tr>
  <tr>
    <td class="tbItems">18:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">REUNIÃO (NA)</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>

<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Quarta-Feira</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems">DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">10:00</td>
    <td class="tbItems">REUNIÃO (PASSOS)</td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">REUNIÃO(TRE)</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LANCHE DA TARDE</td>
  </tr>
  <tr>
    <td class="tbItems">16:30</td>
    <td class="tbItems">ED.FÍSICA</td>
  </tr>
  <tr>
    <td class="tbItems">18:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">REUNIÃO(SENTIMENTO)</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>
<br /><br />
<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Quinta-Feira</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems"> DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">9:00</td>
    <td class="tbItems">VÍDEOTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">REUNIÃO(REFLEXÕES)</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LANCHE DA TARDE</td>
  </tr>
  <tr>
    <td class="tbItems">16:30</td>
    <td class="tbItems">ED.FÍSICA</td>
  </tr>
  <tr>
    <td class="tbItems">18:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">REUNIÃO(NA)</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>

<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Sexta-Feira</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems">DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems">10:00</td>
    <td class="tbItems">REUNIÃO(PPR)</td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">TERAPIA DE GRUPO</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LANCHE DA TARDE</td>
  </tr>
  <tr>
    <td class="tbItems">16:30</td>
    <td class="tbItems">GINÁSTICA LABORAL</td>
  </tr>
  <tr>
    <td class="tbItems">18:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">SENTIMENTO</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>

<table width="100" class="Alinha">
  <tr>
    <td class="tbTitulo" colspan="2">Sabado</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems"> DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">TERAPIA OCUPACIONAL</td>
  </tr>
  <tr>
    <td class="tbItems">16:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems">20:30</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>

<table width="100">
  <tr>
    <td class="tbTitulo" colspan="2">Domingo</td>
    <td></td>  
  </tr>
  <tr>
    <td width="50" class="tbItems">7:00</td>
    <td class="tbItems"> DESPERTAR</td>
  </tr>
  <tr>
    <td class="tbItems">7:30</td>
    <td class="tbItems">CAFÉ DA MANHÃ</td>
  </tr>
  <tr>
    <td class="tbItems">8:00</td>
    <td class="tbItems">LABORTERAPIA</td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems">12:00</td>
    <td class="tbItems">ALMOÇO</td>
  </tr>
  <tr>
    <td class="tbItems">14:00</td>
    <td class="tbItems">LIVRE</td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems">19:00</td>
    <td class="tbItems">JANTAR</td>
  </tr>
  <tr>
    <td class="tbItems"></td>
    <td class="tbItems"></td>
  </tr>
  <tr>
    <td class="tbItems">21:30</td>
    <td class="tbItems">CEIA</td>
  </tr>
  <tr>
    <td class="tbItems">22:00</td>
    <td class="tbItems">RECOLHER</td>
  </tr>
</table>
<br><br>
<h2>Lista de Pertences</h2>
<p>
5 Camisetas<br>
3 Bermudas<br>
5 Cuecas<br>
5 Pares de meia<br>
2 Calças jeans<br>
2 Conjuntos de moletom<br>
1 Cobertor ou edredom<br>
1 Travesseiro<br>
2 Fronhas<br>
2 Lençóis<br>
1 Par de chinelos<br>
1 Tênis<br>
Pasta de dente<br>
Escova de dente, Fio dental<br>
Pente ou escova, cortador de unha<br>
Barbeador<br>
Shampoo, sabonetes e saboneteira<br>
Desodorante rollon ( Não é permitido spray)<br>
Gel sem álcool<br>
Sabão em pedra<br>
Sabão em pó<br>
Prendedor de roupa e balde<br>
 <br>
*Solicitar autorização da administração da Clínica para qualquer outro pertence que não conste na lista acima<br>
	
</p>
</div>
<div id="BoxRight">
	<%=render :file => "/layouts/_noticias.html.erb"%>
</div>