<input type="text" class="t_busca" name="dummy0" id="dummy0" value="Busca" border="none">
		<ul class="Menualinha">
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_insti.png" width="96" height="11" border="0" /></a></li>
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_trata.png" width="94" height="11" border="0" /></a></li>
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_profi.png" width="94" height="11" border="0" /></a></li>
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_depo.png" width="91" height="11" border="0" /></a></li>
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_unida.png" width="64" height="11" border="0" /></a></li>
		    <li><a class="MenuItem" href="#"><img src="/images/menu/btn_conta.png" width="58" height="11" border="0" /></a></li>
		</ul>  
		
		<div class="Menuback"><img src="/images/menu_back.png" width="1024" height="203" /></div>